services:
  stock-service:
    container_name: stock-service
    build: ./stock-service
    ports:
      - "3000:3000"
  database:
    container_name: postgres
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
